#chat-box-icon i {
pointer-events: none;
font-size: 3rem;
}

#chat-box-icon{
position:fixed;
right:3%;
bottom:30px;
color: white;
}
#chat-box-title{
    font-weight: bold;
}

#typing-container{
    height:6%;
    font-size: 12px;
    line-height: 1;
    padding:2px;
}
#typing-container span:not(:first-child){
    display:none;
}


.time-span{
 font-size: 10px;
 color: #7c7c7b;
}
#chat-box-container{
    background-color:orange;
    box-shadow: 0px 0px 10px 3px black inset;
    position: fixed;
    right:3%;
    bottom:100px;
    width: 250px;
    height:550px;
    border-radius: 1rem;
    border:1px solid black;
    padding:1rem;
    display:flex;
    flex-direction: column;
}
#chat-box-container.none{
display:none;
}
#chat-box-header{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: small;
    font-style: italic;
}
#message-area{
    overflow: scroll;
}
#message-area::-webkit-scrollbar {
    display: none;
  }
  #message-area{
    -ms-overflow-style: none;
  }
  #message-area div{
    word-wrap: break-word;
  }
  #message-area .name-cb{
      padding-right:0.3rem;
  }
#message-container{
    width:100%;
    height:80%;
    border:1px solid black; 
    display:flex;
    border-radius: 0.5rem;
    justify-content: flex-end;
    flex-direction: column;
    font-family: "Bellota";
    font-family:'Titillium Web';
}
#message-container div{
    font-size: 15px;
    padding:0.2rem;
}
#message-container .participants{
    font-size: 12px;
    font-family: 'Bellota';
}
#input-container{
    margin-top:4px;
    height:8%;
    padding: 0.5rem;
    display:flex;
    justify-content: space-between;
    width: 100% ; 
    border-radius: 2em;
    
}

#text-area-cb{
    resize: none;
    border-radius: 1em;
    line-height: 1;
    font-size: 1em;
    
}
#text-area-cb:focus{
    box-shadow: 0px 0px 5px 3px black;
}
#text-area-cb:focus{
    outline: none;
}
#send-button.none{
    display:none;
}
#send-button{
    border-radius: 40%;
border: 0.5px solid black;
    background-color: white;
   
}
