.delete.custom-button i{
    pointer-events: none;
}
#no-content{
    color: white;
}
#ask-question-container i{
pointer-events: none;
}
.collapse-textarea-container i {
    pointer-events: none;
}
.reply-container i {
    pointer-events: none;
}
.clear.custom-button i {
    pointer-events: none;
}
.delete-button i{
    pointer-events: none;
}
.delete.custom-button{
    font-size:inherit
}
/*save button*/
#save[save="false"]  .fas{ 
display:none;
}
#save[save="true"] .far{
    display:none;
    }
/*id Tab */
#Tab{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#Tab div{
    display:flex;
    justify-content: space-between;
    padding: 1rem;
}
#Tab span {
    display:flex;
    align-items:center;
    background-color:white ;
    padding:0.5rem;
    height:2rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}
#ask-question{
    line-height: 1;
    background-color: orange;
    color: black;
}
#ask-question[display="false"]{
    display:none;
}
#Tab span:hover {
cursor: pointer;
}

/*answer question container css*/
.answer-container .fa-star{
    color:orange;
}
.answer-question-container a {
    color: white;
}
.answer-question-container{
    color:white;
    border:4px solid rgba(148, 143, 135,0.5);
    padding:0.2rem;

}
.question-container
{
    display:flex;
    justify-content: space-between;
    padding-bottom:10px;
}
.show-time
{
    font-size:10px;
    font-style:italic;
    color:gray;
}
@media (min-width: 768px) {
    .question-container
    {
        padding-left: 5%;
        padding-right:5%;
    }
    .question-button > span
    {
        margin-left:30px;
    }
}
.tick-button i{
    pointer-events: none;
}
.question-button
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:93px;
}
.question-button span
{
padding:5px;
}
a[target="_blank"] {
    background-color: yellow;
  }
.question-button a[aria-expanded="true"] .fa-chevron-down{
    display:none;
}
.question-button a[aria-expanded="false"] .fa-chevron-up{
    display:none;
}

#ask-question-container .text-box{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:120px;
    padding:2rem;
    padding-top:0px;
}

#ask-question-container .text-box textarea{
    overflow: scroll;
    resize: none;
    width:100%;
    height:100%
}
.reply-container .text-box{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:120px;
    padding:2rem;
    padding-top:0px;
}
.reply-container .text-box textarea{
    overflow: scroll;
    resize: none;
    width:100%;
    height:100%
}
@media (min-width: 768px) {
    .question-button
    {
    width:108px;
    }
}
.answer-container
{
    padding-left:5px;
    padding-right:15%;
    padding-bottom:8px;
    border-top: 1px solid rgba(216, 216, 216, 0.5);
}
.answer-container .abc {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.collapse-textarea-container{
    width:100%;
}
.answer-container .text-box{
    width:100%;
    height:120px;
    display:flex;
    justify-content: space-between;
    
    
}
/*@media(min-width:768px){
    .answer-container .text-box{
        height:100px;
    }
}*/
.answer-container .text-box textarea{
    width:90%;
    height:100%;
    resize:none;
    overflow: scroll;
} 
.answer-button > span{
    display:flex;
    align-items: center;
}
.answer-button .custom-button {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
}
@media (min-width: 768px) {
    .answer-container
    {
        padding-left: 10%;
        padding-right:15%;
    }
}
#contribution-number
{
    display: flex;
    justify-content: flex-end;
    padding-bottom:10px;
}
.textarea-button-container
{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    
}
.textarea-button-container .custom-button
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}