
#topic-container{
    padding:2rem;
    display:flex;
}
#topic-container > div{
    padding-right:0.5rem;
}
#topic{
    font-weight: bold;
    color: white;
    font-family:'Titillium Web';
    font-size: 40px;
}
#subscribe-button{
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height:50%;
    background-color: white;
    padding-left:3px;
    padding-right:3px;
    border-radius: 1em;

}
#subscribe-button:hover{
    cursor: pointer;

}
#subscribe-button[subscribe="true"]  .b{ 
    display:none;
    }

 #subscribe-button[subscribe="false"] .a{
        display:none;
        }
