body{
    background-color: black;
}
.container{
    padding-bottom: 2rem;
}

#logo{
    font-size: 30px;
    color: gray;
}
/* section1 */
.section1{
    display: flex;
    justify-content: center;
    min-height: 200px;
}


.video{
    width: 100%;
    min-height: 50vh;
}

/* section2 */
.section2{
    color: white;
    
}

.TitleBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


#Title{
    margin-right: auto;
}

.LikeAndSave{
    margin: 5px;
}

#clickedLike{
    background-color: gray;
}

/* section3 */
.section3{
    display: flex;
    justify-content: center;
}

.textarea{
    width: 60vw;
}

/* section4 */
.CommentContainer{
    border: 1px solid beige;
    width: 80%;
    background-color: beige;
    margin: 10px;
}

.userName{
    border-bottom:1px solid black;
    background-color: gray;
    font-size: 15px;
}

.content{
    font-size: 20px;
}

.date{
    font-size: 10px;
    border-top:1px solid gray;
}

.delete{
    font-size: 10px;
}