body {
    background-color:rgb(21, 108, 117) ;
}

/* logined */
.visitor>form>input {
    background-color:rgb(90, 170, 255);
    color:white;
    border:none;
    border-radius: 12px;
}

.image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin:5px;
}



/* section4 */
.section4{
    background-image: url(/exchange/exchangePageJumbo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.contentBorder{
    border: 1px solid gray;
    background-color:rgba(146, 144, 168, 0.521);

}

.contentBorder>.btn.btn-primary.btn-lg{
    font-size: 15px;
}


/* section5-------------------------------------------- */
.section5{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.Area{
    width: fit-content;
    height: fit-content;
    border: 0px solid black;
    background-color: gray;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    float: wrap;
    justify-content: center;
    
}

.Area>.dropdown.areaDropdown{
    max-width: auto;
}


.infoCards{
    cursor: pointer;
}
.cardContainer{
    border: 0px solid gray;
    border-radius: 10px;
    background-color: lightslategrey;
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}




.cardContent>div{
    margin-top: 10px;
    
}

.cardContainer:hover{
    text-decoration: none;
    color: initial;
}

.cardImage{
    max-width: 30%;
    height: auto;
    min-height: 140px;
    margin: 5px;
}
.cardImage>img{
    width: 100%;
    min-width: 100px;
    height: 130px;
    
}
.fas.fa-star{
    color: yellow;
}

/* section4-2 */

#AddForm{
    border:0px solid rgb(21, 108, 117);
    background-color: white;
    position: absolute;
    z-index: 10;
}



/* section6 */
.section6{
    display: flex;
    justify-content: center;
}