.visitor>form>input {
    background-color:rgb(90, 170, 255);
    color:white;
    border:none;
    border-radius: 12px;
}

.image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin:5px;
}

#payButtonRow{
    display: flex;
    justify-content: center;
}
#payButton{
    margin: 10px;
}

.paypalButton{
    display: flex;
    justify-content: center;
}

/* section3 */
.section3>p{
    border: 1px solid rgb(90, 170, 255);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(134, 175, 219);
}