i
{
    pointer-events:none;
}
button:focus
{
    outline:none;
}
a
{
    color: black;
}
a.no-color-change:hover
{
    color:inherit;
}
.display-none
{
    display:none;
}
body{
    background-color: black;
}
/*title*/
#logo {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    font-size:40px;
    color:white;
    display:flex;
    justify-content: center;
    margin-top:15px;
}
#logo a{
    color:inherit
}
/* header */
#header-container
{
    display:flex;
    justify-content: flex-start;
    padding:10px;
    border-bottom: 4px solid black;
}
@media (min-width: 576px) {
    #header-container
    {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        padding:10px;
        border-bottom: 4px solid black;
    }
}
@media (min-width: 1200px) {
    #header-container
    {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        padding:15px;
        font-size:2rem;
        border-bottom: 4px solid black;
    }
    #header-container > div > div {
        padding-right:1rem;
    }

}

#personal-icon-container
{
    display:flex;
    justify-content: flex-start;
    color: white;
}
#personal-icon-container a
{
    color: inherit;
}
#title
{
    align-self:center;
}
.personal-icon
{
    display:flex;
    padding:5px;
    justify-content: center;
    align-items: center;
}
#notification-icon
{
position: relative;
}
.notification-active
{
    background-color: red;
    width:7px;
    height:7px;
    border-radius: 50%;
    position: absolute;
    right:2px;
    top:16px;
}
@media (min-width: 1200px) {
    .notification-active
    {
        width:10px;
        height:10px;
         right:22%;
        top:56%;
    }
}
.notification-active.none
{
    display:none;
}
#notification-text-container
{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: 80px;
    width:200px;
    position:absolute;
    top:30px;
    left:-80px;
    z-index:1000;
    overflow: scroll;
}

.notification-outer-div{
    min-width:100%;
    width:100%;
    
}
@media (min-width: 450px) {
    #notification-text-container
    {
        top:10px;
        left:25px;
    }
}
@media (min-width: 500px) {
    #notification-text-container
    {
        top:10px;
        left:25px;
        width:300px;
        height:135px;
    }
}
.notification-header{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:80%;
    font-style: italic;
    color: #9b9292;
    border-bottom: 2px solid black;
}
.notification-header.no-messages{
    width: 100%;
    height: 100%;
    font-size:100%;
}
@media (min-width: 1200px) {
    #notification-text-container
    {
        top:30px;
        left:40px;
        font-size: 15px;
    }
}
.notification-text
{
    display:flex;
    border-top: 1px solid #dbd0d0;
    font-size: 13px;
    line-height: 1;
    padding:5px;
    color: black;
}
.notification-content{
    padding-right:1em;
}
@media (min-width: 768px) {
    .notification-text
    {
     padding: 8px;
    }
}
/* header ends*/

/* second container*/

/*navigation bar/column*/
#navigation-container
{
    background-color: black;
    padding-bottom:10px;
}


@media (min-width: 576px) {
    #navigation-container
    {
        height:100vh;
    }
}
@media (min-width: 576px) {

    .navbar-expand-sm
    {
        flex-flow:column nowrap;
    }
    .navbar-expand-sm .navbar-nav
    {
        flex-flow:column nowrap;
    }
}

/*navigation column ends*/


#real-content-container
{
background-color: grey;
}  
#real-content-container .show-time
{
color: black;
}  
#content-container
{
    
    padding:10px;
    color:black;
    
}

/*watched video content*/
.video-container
{
    
    margin-bottom:10px;
    position:relative;
}
#content-container .video-container img
{
    width:100%;
}
.video-container .delete-button
{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0px;
    right:-20px;
    font-size: 15px;
    z-index:500;
    height:20px;
    width:20px;
    background-color: transparent;
    border-radius: 50%;
    border: none;


}
#no-videos
{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}
#no-content
{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}
/*subscribed topic*/
.topic-container
{
    display:flex;
    justify-content: flex-start;
    padding-bottom:10px;
}
.topic-container div
{
    padding-right:10px;
    padding-bottom:10px;
}
.topic-container .topic-name{
    font-size:15px;
    font-weight: bold;
}
.unsubscribe
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.subscribed-videos-container{
    position:relative;
    display:flex;
    
    width:100%;
    overflow-x: auto;
}
.subscribed-video-container{
    position:relative;
    
    padding:10px;
    flex:0 0 50%;
}
@media (min-width: 768px) {
    .subscribed-video-container
    {
        flex:0 0 30%;
    }
}
.subscribed-video-container img{
    width:100%
}
/*Questions & Contributions*/
.question-container
{
    display:flex;
    justify-content: space-between;
    padding-bottom:10px;
}
.show-time
{
    font-size:10px;
    font-style:italic;
    color:gray;
}
@media (min-width: 768px) {
    .question-container
    {
        padding-left: 10%;
        padding-right:10%;
    }
    .question-button > span
    {
        margin-left:30px;
    }
}

.question-button
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:93px;
}
a[target="_blank"] {
    background-color: yellow;
  }
.question-button a[aria-expanded="true"] .fa-chevron-down{
    display:none;
}
.question-button a[aria-expanded="false"] .fa-chevron-up{
    display:none;
}


@media (min-width: 768px) {
    .question-button
    {
    width:108px;
    }
}
.answer-container
{   
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left:5px;
    padding-right:15%;
    padding-bottom:8px;
}
.answer-container-a
{   
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left:5px;
    padding-right:15%;
    padding-bottom:8px;
}
.abc{
    display:flex;
    justify-content:space-between;
    width:100%;
}

.collapse-textarea-container{
    width:100%;
}

.answer-container .text-box{
    width:100%;
    height:120px;
    display:flex;
    justify-content: space-between;
    
    
}
/*@media(min-width:768px){
    .answer-container .text-box{
        height:100px;
    }
}*/
.answer-container .text-box textarea{
    width:90%;
    height:100%;
    resize:none;
    overflow: scroll;
} 
.answer-button > span{
    display:flex;
    align-items: center;
}
.answer-button .custom-button {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
}
@media (min-width: 768px) {
    .answer-container
    {
        padding-left: 15%;
        padding-right:20%;
    }
}
@media (min-width: 768px) {
    .answer-container-a
    {
        padding-left: 15%;
        padding-right:20%;
    }
}
#contribution-number
{
    display: flex;
    justify-content: flex-end;
    padding-bottom:10px;
}
.textarea-button-container
{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
.textarea-button-container .custom-button
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}

.is-read-span{
    padding:5px;
    color:red;
}
.is-read{
    visibility:hidden;
}

#search-bar-container{
    display:flex;
    justify-content: flex-end;
    height:2em;
}
#search-icon-container{
    cursor: pointer;
}
#search-bar-container > div {
   padding:10px;
}
#search-box{
    line-height: 1;
    font-size: 0.8em;
    background-color: transparent;
    border: none;
    width:30%;
}
#search-box::placeholder{
    color: black;
    opacity: 0.7;
}
#search-box:focus{
    outline:none;
    border-bottom: 1px solid black;
}
.sb-none{
    display:none;
}
#show-all{
    cursor: pointer;
}