.section1{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginForm>div{
    margin: 10px;
    color: white;
}

body{
    background-color: rgb(0, 0, 0);
}

iframe {
    width:480px;
    height:270px;
}