body{
    background-color:rgb(21, 108, 117) ;
}

.visitor>form>input {
    background-color:rgb(90, 170, 255);
    color:white;
    border:none;
    border-radius: 12px;
}

.image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin:5px;
}

h2{
    font-weight: bold;
}

.currency{
    font-size: 30px;
    font-weight: bold;
}

.up{
    font-size: 25px;
    color: forestgreen;
    margin-left: 30px;
}

.down{
    font-size: 25px;
    color: crimson;
    margin-left: 30px;
}

#Timestamp{
    margin-top: 10%;
}

.chart{
    background-color: white;
    margin-bottom: 10px;
}

.container-1 {
    width:100%;
    height:70vh;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/exchangeBackground-5.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    padding:0;
}

.row-1 {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    height:20%;
    width:70%;
    margin:0;
    padding:0;
}

.panel {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height:60%;
    background-color:rgba(16, 122, 160,0.7);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.groupBy {
    display:flex;
    justify-content: center;
    align-items:center;
    width:30%;
    height:30%;
    min-width:216px;
}

.currency-user {
    width: 8vw;;
    height:6vh;
    min-width:65px;
    background-color:rgba(16, 122, 160);
    color:white;
    border-width: 1px;
    border-style: solid;
    border-color:white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align-last:center;
    font-size: 120%;
}

.amount {
    width:40vw;
    height:6vh;
}

.amount>input {
    width:100%;
    height:100%; 
    border-style:solid;
    border-color:white;
    border-left:none;
    border-width: 1px;
    background-color:transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align:right;
    color:white;
    font-size:100;
}

.choose {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    width:70%;
    height:50%
}

.bt-trade {
    width:25%;
    border-radius: 5px;
}

.bt-port {
    width:25%;
    border-radius: 5px;
}

.bt-history {
    width:25%;
    border-radius: 5px;
}

.bt-reset {
    width:25%;
    border-radius: 5px;
}

.row-2 {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    height:80%;
    width:70%;
    padding:0;
}

.panel-2 {
    display:flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    background-color:rgba(16, 122, 160,0.7);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.form-group {
    width:50%; 
}

.formSubmit {
    width:10vw;
    height:3vw;
    min-height: 38px;
    min-width: 60px;
    background-color:yellow;
    color:red;
}

.jumbotron{
    margin-bottom: 0;
}

.margin{
    margin-top: 20px;
}

.row-3 {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    height:100%;
    width:70%;
    margin:0;
    padding:0;
}

.table {
    background-color: rgba(16, 122, 160,0.7);
    color:white;
    width:100%;
    height:100%;
    margin:0;
}
