body {
    background-color:black;
}

.logo {
    font-family: 'Press Start 2P', cursive;
    font-size:40px;
    color:white;
    display:flex;
    justify-content: center;
    margin-top:15px;
}

.row-2 {
    margin-top:10px;
}

.topIcon>button {
    background-color:black;
    border:none;
}

.login-icon {
    color:white;
    margin-right:10px;
}

.bell {
    color:white;
    margin-right:10px;
}

.search {
    color:white;
    padding-right:15px;
    position: absolute;
    right:0;
}

.row-3 {
    margin-top:10px;
    padding:0;
}

.form-adjust {
    margin:0;
    padding:0;
    display:flex;
}

#allVideoReq {
    width:50%;
}

.allVideo {
    width:100%;
    border-color:black;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-color:red;
}

#trendVideoReq {
    width:50%
}

.trendVideo {
    width:100%;
    border-color:black;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color:red;
}

.carousel {
    display:flex;
    justify-content: center;
    padding:0;
    margin-top:5px;
    margin-bottom:40px;
}

.carousel-adjust {
    padding:0;
}

.row-4 {
    width:100%;
}

.Javascript {
    display:flex;
}

.subscribe {
    border:none;
    border-radius:20px;
    margin-top:3px;
    margin-left:10px;
}

.Javascript>p {
    font-family: 'Press Start 2P', cursive;
    color:red;
    font-size:20px;
}

.Jspicture {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.Python {
    display:flex;
}

.subscribe {
    border:none;
    border-radius:20px;
    margin-top:3px;
    margin-left:10px;
}

.Python>p {
    font-family: 'Press Start 2P', cursive;
    color:red;
    font-size:20px;
}

.Pypicture {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.imageSize {
    width:100%;
    height:100%;
}

.allVideoTitle {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.allVideoTitle>p {
    font-family: 'Press Start 2P', cursive;
    color:red;
    font-size:20px;
}

.addVideo {
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
}

.allVideoList {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.trendVideoList {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.trendVideoTitle {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.trendVideoTitle>p {
    font-family: 'Press Start 2P', cursive;
    color:red;
    font-size:20px;
}

.trendVideoList {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.delete {
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
}

.adminPage {
    display:flex;
    align-items: center;
}