#login-container span{
    padding-right:0.5rem;
}

.display-none
{
    display:none;
}
#notification-icon
{
position: relative;
}
.notification-active
{
    background-color: red;
    width:10px;
    height:10px;
    border-radius: 50%;
    position: absolute;
    right:15%;
    top:60%;
}
.notification-active.none
{
    display:none;
}
#notification-text-container 
{
    
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    height: 80px;
    width:200px;
    position:absolute;
    top:30px;
    left:-80px;
    z-index:1000;
    overflow: scroll;
    

}
#notification-text-container span {
    color:black;
}
#notification-text-container span i {
    color:red;
}
.notification-outer-div{
    min-width:100%;
   
    width:100%;
    
}
@media (min-width: 450px) {
    #notification-text-container
    {
        top:10px;
        left:25px;
    }
}
@media (min-width: 500px) {
    #notification-text-container
    {
        top:10px;
        left:25px;
        width:300px;
        height:135px;
    }
}
.notification-header{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:80%;
    font-style: italic;
    color: #9b9292;
    border-bottom: 2px solid black;
}
.notification-header.no-messages{
    width: 100%;
    height: 100%;
    font-size:100%;
}
.notification-text
{
    display:flex;
    border-top: 1px solid #dbd0d0;
    font-size: 13px;
    line-height: 1;
    padding:5px;
    color: black;
}
.notification-content{
    padding-right:1em;
}
@media (min-width: 768px) {
    .notification-text
    {
     padding: 8px;
    }
}
#notification-text-container span .show-time
{
    font-size:10px;
    font-style:italic;
    color:gray;
}
.is-read-span{
    padding:5px;
    color:red;
}
.is-read{
    visibility:hidden;
}
#notification-text-container span{
    font-size:13px;
}
#notification-text-container .notification-header{
    font-size:15px;
}